<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="surveyAnswer">
            <h2><span jhiTranslate="backEndApp.surveyAnswer.detail.title">Survey Answer</span> {{ surveyAnswer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="backEndApp.surveyAnswer.answerText">Answer Text</span></dt>
                <dd>
                    <span>{{ surveyAnswer.answerText }}</span>
                </dd>
                <dt><span jhiTranslate="backEndApp.surveyAnswer.surveyQuestion">Survey Question</span></dt>
                <dd>
                    <div *ngIf="surveyAnswer.surveyQuestion">
                        <a [routerLink]="['/survey-question', surveyAnswer.surveyQuestion?.id, 'view']">{{ surveyAnswer.surveyQuestion?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/survey-answer', surveyAnswer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
