<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="surveyQuestion">
            <h2><span jhiTranslate="backEndApp.surveyQuestion.detail.title">Survey Question</span> {{ surveyQuestion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="backEndApp.surveyQuestion.questionText">Question Text</span></dt>
                <dd>
                    <span>{{ surveyQuestion.questionText }}</span>
                </dd>
                <dt><span jhiTranslate="backEndApp.surveyQuestion.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ surveyQuestion.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="backEndApp.surveyQuestion.questionType">Question Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'backEndApp.QuestionType.' + surveyQuestion.questionType }}">{{ surveyQuestion.questionType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/survey-question', surveyQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
