<div>
    <h2 id="page-heading">
        <span jhiTranslate="backEndApp.surveyQuestion.home.title">Survey Questions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-survey-question" [routerLink]="['/survey-question/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="backEndApp.surveyQuestion.home.createLabel">
            Create a new Survey Question
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="surveyQuestions?.length === 0">
        <span jhiTranslate="backEndApp.surveyQuestion.home.notFound">No surveyQuestions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="surveyQuestions && surveyQuestions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="backEndApp.surveyQuestion.questionText">Question Text</span></th>
                    <th scope="col" ><span jhiTranslate="backEndApp.surveyQuestion.isActive">Is Active</span></th>
                    <th scope="col" ><span jhiTranslate="backEndApp.surveyQuestion.questionType">Question Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let surveyQuestion of surveyQuestions ;trackBy: trackId">
                    <td><a [routerLink]="['/survey-question', surveyQuestion.id, 'view']">{{ surveyQuestion.id }}</a></td>
                    <td>{{ surveyQuestion.questionText }}</td>
                    <td>{{ surveyQuestion.isActive }}</td>
                    <td jhiTranslate="{{ 'backEndApp.QuestionType.' + surveyQuestion.questionType }}">{{ surveyQuestion.questionType }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/survey-question', surveyQuestion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/survey-question', surveyQuestion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(surveyQuestion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
